<!-- TITLE: Identity Verification -->
<!-- SUBTITLE: A quick summary of Identity Verification -->

# Überblick
Jeder Akzession ist ein bestimmter Name zugewiesen. Das ist entweder ein Art Name oder, wenn nur der Name der Gattung bekannt ist, der Name der Gattung mit dem Zusatz "species". Die Information welchen Namen die Akzession besitzt stammt in erster Linie von der Quelle (dem Provider). Die Anwendung geht davon aus, dass die Namenszuordnung intern noch nicht überprüft wurde. Beim Anlegen einer neuen Akzession befindet sich daher kein Haken bei "Bestätigt".

![Optionverifiziert](/uploads/nicklab/optionverifiziert.png "Optionverifiziert"){.align-center}
# Aktueller Status der Namenszuordnung
In der [Detail Ansicht](/nick-lab/accession-detail-view) zu einer Akzession findet man unter Taxonomy einen Hinweis zum aktuellen Status der Namenszuodnung.

